<DialogBase DisableSidePadding="true" CloseButton="true" Title="本の追加">
    <DialogContent>
        <MudContainer Style="height: 100%; overflow-y: scroll">
            <MudSimpleTable Style="overflow-x: auto;">
                <tbody>
                    <tr>
                        <td style="width: 30%; font-weight: bold;">書名</td>
                        <td>@Item.Title</td>
                    </tr>
                    <tr>
                        <td style="width: 30%; font-weight: bold;">著者</td>
                        <td>
                            <ItemList Items="Item.Authors" OnClickItem="SearchByAuthor" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%; font-weight: bold;">説明</td>
                        <td>
                            <MudPaper Class="overflow-y-scroll mud-theme-transparent pa-2" Height="27vh" Outlined="true">
                                @(Item.Description is { Length: > 0 } ? Item.Description : "説明がありません")
                            </MudPaper>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%; font-weight: bold;">ページ数</td>
                        <td>@Item.TotalPage</td>
                    </tr>
                    <tr>
                        <td style="width: 30%; font-weight: bold;">ISBN</td>
                        <td>@Item.Isbn</td>
                    </tr>
                    <tr>
                        <td style="width: 30%; font-weight: bold;">書影</td>
                        <td>
                            <MudImage Src="@Item.Thumbnail" Height="128" />
                        </td>
                    </tr>
                </tbody>
            </MudSimpleTable>
        </MudContainer>
    </DialogContent>

    <DialogActions>
        <MudButton OnClick="context.Cancel">キャンセル</MudButton>

        <MudButton Variant="Variant.Filled"
                   Color="Color.Success"
                   StartIcon="@Icons.Material.Filled.AddCircle"
                   OnClick="() => context.Ok(true)">
            追加
        </MudButton>
    </DialogActions>
</DialogBase>

@code {
    [CascadingParameter] protected MudDialogInstance? MudDialog { get; set; }
    [Parameter] public BookInfo Item { get; set; } = null!;
    [Parameter] public EventCallback<string> SearchByAuthor { get; set; }

    public static async Task<DialogResult> ShowDialog(
        IDialogService dialogService,
        BookInfo item,
        EventCallback<string> searchByAuthorCallback
    )
    {
        var parameters = new DialogParameters
        {
            ["Item"] = item,
            ["SearchByAuthor"] = searchByAuthorCallback
        };
        var options = new DialogOptions { FullScreen = true };
        var dialog = dialogService.Show<AddBookDialog>("AddBook", parameters, options);
        return await dialog.Result;
    }
}