<DialogBase DisableSidePadding="true" CloseButton="true" Title="Details of the book">
    <DialogContent>
        <MudContainer Style="max-height: 500px; overflow-y: scroll">
            <MudSimpleTable Style="overflow-x: auto;">
                <tbody>
                    <tr>
                        <td style="width: 30%; font-weight: bold;">Title</td>
                        <td>@Item.Title</td>
                    </tr>
                    <tr>
                        <td style="width: 30%; font-weight: bold;">Author</td>
                        <td>
                            <AuthorsLink Authors="Item.Authors" SearchByAuthor="SearchByAuthor" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%; font-weight: bold;">Description</td>
                        <td>
                            @if (!string.IsNullOrEmpty(Item.Description))
                            {
                                <MudPaper Class="overflow-y-scroll mud-theme-transparent pa-2" MaxHeight="200px" Outlined="true">
                                    @Item.Description
                                </MudPaper>
                            }
                            else
                            {
                                <p>No description</p>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%; font-weight: bold;">Pages</td>
                        <td>@Item.TotalPage</td>
                    </tr>
                    <tr>
                        <td style="width: 30%; font-weight: bold;">ISBN</td>
                        <td>@Item.Isbn</td>
                    </tr>
                    <tr>
                        <td style="width: 30%; font-weight: bold;">Cover</td>
                        <td>
                            <MudImage Src="@Item.Thumbnail" Height="128" />
                        </td>
                    </tr>
                </tbody>
            </MudSimpleTable>
        </MudContainer>
    </DialogContent>

    <DialogActions>
        <MudButton OnClick="context.Cancel">Cancel</MudButton>

        <MudButton Variant="Variant.Filled"
                   Color="Color.Success"
                   StartIcon="@Icons.Material.Filled.AddCircle"
                   OnClick="() => context.Ok(true)">
            Add
        </MudButton>
    </DialogActions>
</DialogBase>

@code {
    [CascadingParameter] protected MudDialogInstance? MudDialog { get; set; }
    [Parameter] public BookInfo Item { get; set; } = null!;
    [Parameter] public EventCallback<string> SearchByAuthor { get; set; }

    public static async Task<DialogResult> ShowDialog(
        IDialogService dialogService,
        BookInfo item,
        EventCallback<string> searchByAuthorCallback
    )
    {
        var parameters = new DialogParameters
        {
            ["Item"] = item,
            ["SearchByAuthor"] = searchByAuthorCallback
        };
        var options = new DialogOptions
        {
            MaxWidth = MaxWidth.Small
        };
        var dialog = dialogService.Show<BookDetailsDialog>("Detail", parameters, options);
        return await dialog.Result;
    }
}